.header{
        background-color: white !important;
        position: sticky;
        top: 0vmin;
        padding-top: 3vmin;
        padding-bottom: 3vmin;
        width: 100%;
        box-shadow: 0vmin 0vmin 1vmin gray;
        z-index: 1000;
}
.header li{
        padding-left: 2.2vmin;
        transition: 0.3s;
}
.header li:hover a{
        color: rgb(61, 149, 61) !important;
}
.header li:hover sup{
        background-color: rgb(61, 149, 61) !important;
        color: white;
}
.header sup{
        background-color: black;
        color: white;
        padding: 0.05vmin 0.75vmin;
        padding-bottom: 0.2vmin !important;
        font-size: 1.7vmin;
        transition: 0.3s;
}
.h-title{
        font-family:'Times New Roman', Times, serif;
        font-size: 4.5vmin;
        letter-spacing: 0.2vmin;
}
.plants{
        width: 90%;
}
.plants h1{
        font-family:'Times New Roman', Times, serif;
        font-size: 5vmin;
        font-weight: 500;
        letter-spacing: 0.2vmin;
        color: black;
}
.plants hr{
        height: 0.3vmin;
        width: 92%;
        margin: auto;
}
.info h2{
        font-family:'Times New Roman', Times, serif;
        font-size: 3.7vmin;
        font-weight: 600;
        letter-spacing: 0.06vmin;
        color: black;
}
.info label{
        color: rgb(88, 88, 88);
        font-size: 2.7vmin;
        font-weight: 500;
        margin-bottom: 1.3vmin;
}
.info input,
.info textarea{
        padding: 0.7vmin 2vmin;
        font-size: 2.5vmin;
        color: black;
}
.productsinfo{
        border: 0.3vmin solid rgb(199, 196, 196);
        height: fit-content;
}
.productsinfo hr{
        width: 100%;
}
.title h4{
        color: rgb(76, 75, 75);
        font-size: 2.9vmin;
        font-weight: 600;
}
.item h5{
        color: rgb(126, 126, 126);
        font-size: 2.5vmin;
        font-weight: 500;
}
.submit{
        width: 100%;
        color: white !important;
        background-color: rgb(61, 149, 61);
        border: 0.2vmin solid rgb(61, 149, 61);
        font-size: 2.7vmin !important;
        padding-top: 1vmin;
        padding-bottom: 1vmin;
        transition: 0.3s;
}
.submit:hover{
        background-color: rgb(76, 75, 75);
        border-color: rgb(76, 75, 75);
}
.message2{
        color: rgb(61, 149, 61);
}


.footer{
        background-color: rgb(14, 36, 14);
        margin-bottom: 0vmin;
}
.footer hr{
        width: 100%;
}
.footer h4{
        font-family:'Times New Roman', Times, serif;
        font-size: 3.7vmin;
}
.subscribe{
        padding: 1vmin 2vmin;
        font-size: 2.7vmin;
        margin-right: 3vmin;
}
.footer .b{
        border-color: transparent;
        color: white;
        background-color: rgb(61, 149, 61);
        font-size: 2.6vmin;
        padding: 1vmin 3vmin;
        transition: 0.3s;
}
.footer p{
        font-size: 2.5vmin;
}
.cart0{
        background-color: white;
        position: fixed;
        top: 0vmin;
        right: 0vmin;
        width: 40%;
        z-index: 1500;
        height: 100vh;
}
.cart0 button{
        width: 90%;
        border-color: transparent;
        position: absolute;
        bottom: 0vmin;
        color: white;
        background-color: rgb(61, 149, 61);
        font-size: 2.6vmin;
        padding: 1vmin 3vmin;
        transition: 0.3s;
}

.cart0 button:hover{
        background-color: rgb(63, 62, 62);
}
.cart0 h3{
        font-size: 3.5vmin;
        color: rgb(63, 62, 62);
}
.cart0 .c{
        font-size: 3.5vmin;
        color: rgb(52, 50, 50);
}
.cart-img{
        width: 20%;
        margin-right: 3vmin;
}
.item-name{
        font-size: 2.8vmin;
        color: rgb(50, 48, 48);
}
.item-price{
        font-size: 2.5vmin;
        color: rgb(110, 108, 108);
        font-weight: 500;
}
.close{
        font-size: 2.5vmin;
        color: rgb(50, 48, 48);
        border: 0.25vmin solid rgb(21, 21, 21);
        padding: 1vmin 1.5vmin;
        transition: 0.3s;
}
.close:hover{
        color: white;
        background-color: rgb(50, 48, 48);
        border-color: rgb(50, 48, 48);
}

.footer .b:hover{
        background-color: rgb(52, 50, 50) !important;
}

@media(min-width:991px){
        .header li:hover{
                transform: translateY(-0.5vmin);
        }
}
@media(max-width:992px){
        .header li:hover{
                transform: translatex(0.5vmin);
        }
}
@media(max-width:360px){
        .item{
                padding-left: 4vmin !important;
                padding-right: 4vmin !important;
        }
        .pp{
                margin-left: 4vmin !important;
                margin-right: 4vmin !important;
        }
}
@media(max-width:850px){
        .cart0{
                width: 100%;
        }
}